body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #5DAFAF;
}

#home, #form {
    width: 120px;
    height: 44px;
    margin-left: 16px;
    margin-top: 18px;
    border-radius: 5px;
    background-color: #5DAFAF;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2px;
}

h1 {
    color: #616161;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2px;
    margin-top: 80px;
}

h2 {
    color: #5DAFAF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3px;
    margin-top: 60px;
}

h3 {
    color: #616161;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4px;
}

#create-bag-btn {
    position: absolute;
    left: 50%;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    width: 166px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #F28A72;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2px;
}

#bagName {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 44px;
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid #616161;
    background: #FFF;
    color: #616161;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2px; 
    padding-left: 12px;
}

#add-bag-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
    width: 166px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #F28A72;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2px;
}


#formSection {
    display: none;
}

#homeSection {
    display: block;
}


#bag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

#item-name, #item-quantity {
    border-radius: 5px;
    border: 1px solid #616161;
    background: #FFF;
    color: #616161;
    font-size: 16px;
    line-height: 1.2px;
    margin: 8px;
    padding: 4px;
}

#item-btn {
    border-radius: 4px;
    height: 28px;
    background-color: #F28A72;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 1.2px;
    margin: 8px;
    padding: 4px;
}

ul {
    font-size: 16px;
    line-height: 1.5;
    color: #4d4d4d;
}

#item-packed-btn {
    float: right;
    margin-right: 16px;
    border-radius: 4px;
    height: 18px;
    background-color: white;
    border: 1px solid #F28A72;
    color: #F28A72;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2px;
}

#bag {
    border-radius: 10px;
    border: 1px solid #616161;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.packed-item {
    text-decoration: line-through;
}


#name, #email, #feedback {
    width: 370px;
    height: 44px;
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid #616161;
    background: #FFF;
    color: #616161;
    font-size: 18px;
    line-height: 1.2px; 
    padding-left: 12px;
}

#feedbackForm button {
    margin-left: 20px;
    margin-top: 40px;
    width: 166px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #F28A72;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2px;
}

#feedbackForm label {
    color: #616161;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2px; 
    padding-left: 12px;
}

#bag-img{
    display: flex;
    justify-content: center;

}

#open-bag {
    display: none;
}


#open-bag, #closed-bag {
    margin-top: 40px;
    height: 200px;
    width: auto;
}

@media (max-width: 600px){

#home, #form {
    width: 100px;
    height: 44px;
    margin-left: 16px;
    margin-top: 18px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2px;
    }    

h1 {
    color: #616161;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2px;
    margin-top: 80px;
}

h2 {
    color: #5DAFAF;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3px;
    margin-top: 60px;
}

h3 {
    color: #616161;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4px;
}

#name, #email, #feedback {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    
    width: 200px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #616161;
    background: #FFF;
    color: #616161;
    font-size: 18px;
    line-height: 1.2px; 
    padding-left: 12px;
}

#feedbackForm button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#feedbackForm label {
    margin-bottom: 16px;
    margin-top: 10px;
}

}

@media (max-width: 415px) {

#bag {
    width: 80%;
}

#item-quantity, #item-name, #item-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

}

@media (max-width: 800px){
    #bagName {    
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #add-bag-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    } 
}
