body {
    font: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: grey;
}

#bag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#bag {
    background-color: white;
    border: 1px, solid, black;
}

/* #bag-name {
    width: 50%;
    padding: 10px;
} */

.packed-item {
    text-decoration: line-through;
}